<div class="min-h-screen flex flex-wrap items-center justify-center py-6 px-4 sm:px-6 lg:px-8">

    <div class="max-w-md w-full space-y-8">
        <div>
            <div>
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    style="position:relative; display: block; margin: 0 auto;"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 300 300" width="120px">
                    <g>
                        <path style="fill:#1e3b8a; transform-origin: center center;"
                            d="M127.6,195.2l-58.4-33.6v79.2c17.6,9.2,37.6,14.4,58.4,14.4c25.2,0,48.8-7.2,68.4-20L127.6,195.2z" />
                        <path style="fill:#1e40af; transform-origin: center center;"
                            d="M186,161.2l-58.4,34l68.4,39.6c35.6-22.8,58.8-62.4,58.8-107.2c0-2,0-4,0-6L186,161.2z" />
                        <path style="fill:#1e3b8a; transform-origin: center center;"
                            d="M186,94v67.6l68.4-39.6c-2-46.8-29.2-86.8-68.4-107.2V94z" />
                        <path style="fill:#1e40af;"
                            d="M127.6,60L186,93.6V14.4C168.4,5.2,148.4,0,127.6,0c-25.2,0-48.8,7.2-68.4,20L127.6,60z" />
                        <path style="fill:#1e3b8a; transform-origin: center center;"
                            d="M69.2,94l58.4-34L59.2,20.4C23.6,43.2,0.4,82.8,0.4,127.6c0,2,0,4,0,6L69.2,94z" />
                        <path style="fill:#1e40af; transform-origin: center center;"
                            d="M69.2,161.2V93.6L0.8,133.2C2.8,180,30,220,69.2,240.4V161.2z" />
                    </g>
                </svg>
            </div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-00">
                Login to<span class="text-blue-600"> Edx Wallet</span>
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                All your
                <a href="#" class="font-medium text-blue-600">
                    purchasing & expenses
                </a>
                in a single place
            </p>
        </div>


        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

        <div class="rounded-md shadow-sm -space-y-px">
            <div>
                <%= f.label :username, class: "sr-only" %><br>
                <%= f.text_field :username, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Enter your username" %>
            </div>
        </div>


        <button type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-b-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: lock-closed -->
                <svg class="h-5 w-5 text-blue-500 group-hover:text-blue-400" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                        clip-rule="evenodd" />
                </svg>
            </span>
            Log in
        </button>


        <% end %>

        <a href="signup"
            class="group cursor-pointer relative w-full flex justify-center py-2 px-4 text-sm text-blue-700 font-medium rounded-md text-white bg-white border border-gray-300 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: lock-closed -->
                <svg class="h-5 w-5 text-blue-500 group-hover:text-blue-400" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zM7 6v2a3 3 0 1 0 6 0V6a3 3 0 1 0-6 0zm-3.65 8.44a8 8 0 0 0 13.3 0 15.94 15.94 0 0 0-13.3 0z"
                        clip-rule="evenodd" />
                </svg>
            </span>
            Create an account
        </a>
    </div>
</div>