 <div class="min-h-screen flex flex-col items-center justify-center bg-gray-50 py-6 px-4 sm:px-6 lg:px-8">

     <%= render 'form' %>

     <div class="max-w-md w-full mt-9">
         <a href="login"
             class="group cursor-pointer relative w-full flex justify-center py-2 px-4 text-sm text-blue-700 font-medium rounded-md text-white bg-white border border-gray-300 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
             <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                 <!-- Heroicon name: lock-closed -->
                 <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1">
                     </path>
                 </svg>
             </span>
             ¿Already registered?
         </a>
     </div>
 </div>