@import "tailwindcss/base";
@import "tailwindcss/components";
// here goes custom css
.svg {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(50%);
    left: calc(50%);
  }

.foo {
    height: 130px;
    margin: 0;
    padding: 0;
    width: auto;
    position: relative;
  }

@import "tailwindcss/utilities";