<style>
  #menu-toggle:checked+#menu {
    display: block;
  }
</style>


<header class="lg:px-16 px-6 bg-white flex flex-wrap items-center lg:py-0 py-2 bg-green-100">
  <div class="flex-1 flex justify-between items-center mr-6">
    <a href="#">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
        style="position:relative; display: block; margin: 0 auto;" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
        y="10" viewBox="0 0 300 300" width="40px">
        <g>
          <path style="fill:#009E81; transform-origin: center center;"
            d="M127.6,195.2l-58.4-33.6v79.2c17.6,9.2,37.6,14.4,58.4,14.4c25.2,0,48.8-7.2,68.4-20L127.6,195.2z" />
          <path style="fill:#00B594; transform-origin: center center;"
            d="M186,161.2l-58.4,34l68.4,39.6c35.6-22.8,58.8-62.4,58.8-107.2c0-2,0-4,0-6L186,161.2z" />
          <path style="fill:#009E81; transform-origin: center center;"
            d="M186,94v67.6l68.4-39.6c-2-46.8-29.2-86.8-68.4-107.2V94z" />
          <path style="fill:#00B594;"
            d="M127.6,60L186,93.6V14.4C168.4,5.2,148.4,0,127.6,0c-25.2,0-48.8,7.2-68.4,20L127.6,60z" />
          <path style="fill:#009E81; transform-origin: center center;"
            d="M69.2,94l58.4-34L59.2,20.4C23.6,43.2,0.4,82.8,0.4,127.6c0,2,0,4,0,6L69.2,94z" />
          <path style="fill:#00B594; transform-origin: center center;"
            d="M69.2,161.2V93.6L0.8,133.2C2.8,180,30,220,69.2,240.4V161.2z" />
        </g>
      </svg>
    </a>

  </div>

  <label for="menu-toggle" class="pointer-cursor lg:hidden block">
    <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
      viewBox="0 0 20 20">
      <title>menu</title>
      <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
    </svg>
  </label>

  <input class="hidden" type="checkbox" id="menu-toggle" />

  <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
    <nav>
      <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
        <li><a href="/income" class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-green-400">
            My Income</a></li>
        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-green-400" href="/transactions">My Expenses</a>
        </li>
        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-green-400" href="/memberstransactions">Members Expenses</a>
        </li>
        
        <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-green-400"
            href="/groups">Categories</a></li>
        <li>
          <% check_logged %>
        </li>
      </ul>
    </nav>
  </div>

  <span class="font-bold text-green-600"> <%= current_user.username.upcase %></span>

  <%= image_tag(user_avatar(current_user), class: "h-10 rounded-full lg:ml-4 mt-1 lg:mb-0 mb-1 ml-5 pointer-cursor hover:bg-gray-50 ") %>

</header>
